<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378755349333-2t6s22viuo04a6put41pv4d6cli3sh0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378755349333-2t6s22viuo04a6put41pv4d6cli3sh0m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>378755349333-egng9plc8h0jimmuvb3tad4q86kro3qh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9zlwZe5KjNpqybTUX2hUKCyKm6oyQtZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>378755349333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tribble</string>
	<key>PROJECT_ID</key>
	<string>tribble-28c56</string>
	<key>STORAGE_BUCKET</key>
	<string>tribble-28c56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378755349333:ios:6bf3261291314a593f4ddc</string>
</dict>
</plist>